


 <body class="portfolio-page cursor-effect">

    <!-- ========== Start Cursor ========== -->

    <div id="cursor">
        <div id="circle"></div>
    </div>

    <!-- ========== End Cursor ========== -->

     <!-- ========== Start Preloader ========== -->

     <div class="preloader">
        <span style="color:#fff; font-weight: bolder; font-size: 70px; font-family: 'Blaka', cursive;">
       JO
   </span>
     </div>

     <!-- ========== End Preloader ========== -->

    <!-- ========== Start Navbar ========== -->

    <div class="site-navbar dl-container">
        <div class="navbar-content d-flex w-100 align-items-center justify-content-between">
            <div class="logo-content">
                <div class="logo">
                    <a href="/">
                        <span style="color:#fff; font-weight: bolder; font-size: 70px; font-family: 'Blaka', cursive;">
                            JO
                        </span>
                    </a>
                </div>
            </div>
            <div class="menu-icon d-flex align-items-center">
                <div class="menu-txt-btn">
                    <span class="menu-txt" data-hover="open">Menu</span>
                    <span class="close-txt">Close</span>
                </div>
                <div class="icon d-flex justify-content-center align-items-center parallax-item">
                    <div class="bar-content">
                        <span class="top-bar"></span>
                        <span class="bottom-bar"></span>
                    </div>
                </div>
            </div>
            <nav class="main-nav d-flex align-items-center">
                <div class="menu-bg-title">Menu</div>
                <ul class="menu-content list-unstyled p-relative d-flex flex-column justify-content-center w-100 h-100">
                    <li>
                        <a href="/">
                            <span class="menu-title">Home</span>
                            <span class="menu-number">01</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <span class="menu-title">About</span>
                            <span class="menu-number">02</span>
                        </a>
                    </li>
                    <li>
                        <a href="/services">
                            <span class="menu-title">Services</span>
                            <span class="menu-number">03</span>
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio">
                            <span class="menu-title">Portfolio</span>
                            <span class="menu-number">04</span>
                        </a>
                    </li>
                    <li>
                        <a href="/blog">
                            <span class="menu-title">Blog</span>
                            <span class="menu-number">05</span>
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <span class="menu-title">Contact</span>
                            <span class="menu-number">06</span>
                        </a>
                    </li>
                    <li>
                        <a href="assets/Profile.pdf">
                            <span class="menu-title">Resume</span>
                            <span class="menu-number">07</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu-overlay"></div>
        </div>
    </div>

    <!-- ========== End Navbar ========== -->
    
    <!-- ========== Start Header ========== -->

    <header class="header">
        <div class="dl-container">
            <div class="header-content">
                <p class="subtitle">Articles & News</p>
                <h1 class="title"> Blogs</h1>
            </div>
        </div>
    </header>

    <!-- ========== End Header ========== -->

    <div class="content">

        <!-- ========== Start Blog Section ========== -->

        <section class="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="cover-bg img-fluid" style="height: 200px;" src="assets/images/slider/me4.jpg" alt>
                            </div>
                            <div class="blog-content">
                                <div class="cat">
                                    <span>Venturesafrica</span>
                                </div>
                                <h4><a class="cursor-alter" href="https://venturesafrica.com/meet-john-oseni-one-of-nigerias-most-talented-tech-prodigies/">16-YEAR-OLD TECH PRODIGY, JOHN OSENI IS BUILDING A SUSTAINABLE FUTURE                                    </a></h4>
                                <a class="main-btn align-items-center" href="https://venturesafrica.com/meet-john-oseni-one-of-nigerias-most-talented-tech-prodigies/">
                                    <span class="btn-content d-flex align-items-center">
                                        <span class="btn-circles">
                                            <span class="btn-circle"></span>
                                            <span class="btn-small-circle d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.214 23.057">
                                                    <g fill="none" stroke-linecap="square" stroke-width="1.5">
                                                        <path d="M23.528 11.685h-20M16.685 19.528l8-8-8-8"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="btn-txt">Load More</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="cover-bg img-fluid" src="assets/images/slider/me7.jpg" alt>
                            </div>
                            <div class="blog-content">
                                <div class="cat">
                                    <span>Digitaltimes</span>
                                </div>
                                <h4><a class="cursor-alter" href="https://www.digitaltimes.africa/15-year-nigerian-a-crypto-wallet-developer-and-author-of-4-tech-books/">John Oseni; Nigeria's 15 Year Old Crypto Guru And Author Of 4 Tech Books</a></h4>
                                <a class="main-btn align-items-center" href="https://www.digitaltimes.africa/15-year-nigerian-a-crypto-wallet-developer-and-author-of-4-tech-books/">
                                    <span class="btn-content d-flex align-items-center">
                                        <span class="btn-circles">
                                            <span class="btn-circle"></span>
                                            <span class="btn-small-circle d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.214 23.057">
                                                    <g fill="none" stroke-linecap="square" stroke-width="1.5">
                                                        <path d="M23.528 11.685h-20M16.685 19.528l8-8-8-8"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="btn-txt">Load More</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 item">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="cover-bg img-fluid" src="assets/images/slider/me8.webp" alt>
                            </div>
                            <div class="blog-content">
                                <div class="cat">
                                    <span>Punchng</span>
                                </div>
                                <h4><a class="cursor-alter" href="https://punchng.com/my-parents-thought-i-was-possessed-when-i-started-coding-now-i-make-millions-16-year-old-programmer-oseni/">My parents thought I was possessed when I started Writing coding...</a></h4>
                                <a class="main-btn align-items-center" href="https://punchng.com/my-parents-thought-i-was-possessed-when-i-started-coding-now-i-make-millions-16-year-old-programmer-oseni/">
                                    <span class="btn-content d-flex align-items-center">
                                        <span class="btn-circles">
                                            <span class="btn-circle"></span>
                                            <span class="btn-small-circle d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.214 23.057">
                                                    <g fill="none" stroke-linecap="square" stroke-width="1.5">
                                                        <path d="M23.528 11.685h-20M16.685 19.528l8-8-8-8"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="btn-txt">Load More</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>    
                    <div class="col-lg-4 col-md-6 item">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="cover-bg img-fluid" src="assets/images/slider/me2.JPG" alt>
                            </div>
                            <div class="blog-content">
                                <div class="cat">
                                    <span>Morganable</span>
                                </div>
                                <h4><a class="cursor-alter" href="https://www.morganable.com/nigerian-teenage-tech-star-john-oseni-i-will-do-more-than-elon-musk/?utm_source=rss&utm_medium=rss&utm_campaign=nigerian-teenage-tech-star-john-oseni-i-will-do-more-than-elon-musk">Nigerian Teenage Tech Star, John Oseni</a></h4>
                                <a class="main-btn align-items-center" href="https://www.morganable.com/nigerian-teenage-tech-star-john-oseni-i-will-do-more-than-elon-musk/?utm_source=rss&utm_medium=rss&utm_campaign=nigerian-teenage-tech-star-john-oseni-i-will-do-more-than-elon-musk">
                                    <span class="btn-content d-flex align-items-center">
                                        <span class="btn-circles">
                                            <span class="btn-circle"></span>
                                            <span class="btn-small-circle d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.214 23.057">
                                                    <g fill="none" stroke-linecap="square" stroke-width="1.5">
                                                        <path d="M23.528 11.685h-20M16.685 19.528l8-8-8-8"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="btn-txt">Load More</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>  
                                                              
                </div>
             <div style="justify-content: center; margin-left: 40%;">
                <a class="main-btn align-items-center"  href="https://www.google.com/search?q=john+oseni&rlz=1C5CHFA_enNG997NG997&oq=john+Oseni&aqs=chrome.0.35i39l2j0i512j46i10i433j0i10i433j69i60l3.2833j0j1&sourceid=chrome&ie=UTF-8">
                    <span class="btn-content d-flex align-items-center">
                        <span class="btn-circles">
                            <span class="btn-circle"></span>
                            <span class="btn-small-circle d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.214 23.057">
                                    <g fill="none" stroke-linecap="square" stroke-width="1.5">
                                        <path d="M23.528 11.685h-20M16.685 19.528l8-8-8-8"></path>
                                    </g>
                                </svg>
                            </span>
                        </span>
                        <span class="btn-txt">Check more online</span>
                    </span>
                </a>
             </div>
            </div>
        </section>

        <!-- ========== End Blog Section ========== -->

    </div>

    <!-- ========== Start Footer Section ========== -->

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="left-area">
                        <div class="footer-social-media">
                            <ul class="list-unstyled d-flex">
                                <li>
                                    <a class="parallax-item not-hide-cursor" href="https://github.com/johnoseni1"><i class="fa fa-github"></i></a>
                                </li>
                                <li>
                                    <a class="parallax-item not-hide-cursor" href="https://www.linkedin.com/in/john-oseni-4b8b001b0/"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="parallax-item not-hide-cursor" href="https://www.instagram.com/johnoseni5/"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a class="parallax-item not-hide-cursor" href="https://twitter.com/johnoseni4"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="parallax-item not-hide-cursor" href="https://www.youtube.com/channel/UCK_pOA0o79rhyKk5EdJj_2Q"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-area">
                        <p>2022 &copy; Created By <a class="cursor-alter not-hide-cursor" href="/">John Oseni</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ========== End Footer Section ========== -->

    <!-- ========== Start Scroll To Top Section ========== -->

    <div class="progress-parent">
        <svg class="progress-circle" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>

    <!-- ========== End Scroll To Top Section ========== -->

    <!-- ========== Js ========== -->

    <!-- Jquery -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <!-- popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Libs and Plugins JS -->
    <script src="assets/js/gsap/gsap.min.js"></script>
    <script src="assets/js/gsap/ScrollToPlugin.min.js"></script>
    <script src="assets/js/gsap/ScrollTrigger.min.js"></script>
    <!-- Owl Carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Preloader -->
    <script src="assets/js/preloader.js"></script>
    <!-- Scroll To Top js -->
    <script src="assets/js/scrolltotop.js"></script>
    <!-- Main custom-->
    <script src="assets/js/custom.js"></script>

</body>