<h1 class="mt-4">Dashboard</h1>

<div style="justify-content: center; text-align: center;">
  <%- include ("./messages") %>
    <a data-modal-target="#modal"> <button type="submit" class="btn btn-contact">Click here to copy link</button>
        </a>
</div>

 
<div class="modal" id="modal">
    <div class="modal-header">
      <div class="title" style="font-size: 25px;font-family: Poppins; color: #333;">Want to move up in line and get access to our airdrop?</div>
    </div>
    <div class="modal-body" style="text-align: center; color: #333; justify-content: center; font-size: 16px;font-family: Poppins;">
      Skip ahead of friends! The more friends you get to sign up the more you move up in line. Use your unique share links below:  
    
    </div>

    <div style="display: flex; text-align: center; justify-content: center;">
      <div>
        <svg width="55" height="52" viewBox="0 0 55 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="55" height="52" rx="5" fill="#007CB6"/>
          <rect x="19" y="19" width="18" height="15" fill="white"/>
          <path d="M35.7145 16.4204H19.119C18.2122 16.4204 17.4199 17.0729 17.4199 17.969V34.6013C17.4199 35.5024 18.2122 36.3053 19.119 36.3053H35.7096C36.6213 36.3053 37.3048 35.497 37.3048 34.6013V17.969C37.3101 17.0729 36.6213 16.4204 35.7145 16.4204ZM23.5838 32.9954H20.7351V24.1382H23.5838V32.9954ZM22.258 22.7916H22.2376C21.3259 22.7916 20.7355 22.1129 20.7355 21.2634C20.7355 20.3983 21.3414 19.7356 22.2735 19.7356C23.2056 19.7356 23.776 20.3934 23.7964 21.2634C23.796 22.1129 23.2056 22.7916 22.258 22.7916ZM33.995 32.9954H31.1463V28.1525C31.1463 26.9922 30.7317 26.1995 29.7011 26.1995C28.9137 26.1995 28.4476 26.7321 28.2403 27.251C28.1626 27.4374 28.1418 27.6913 28.1418 27.9505V32.9954H25.2931V24.1382H28.1418V25.3708C28.5563 24.7805 29.2039 23.931 30.7108 23.931C32.5808 23.931 33.9954 25.1635 33.9954 27.8209L33.995 32.9954Z" fill="#007CB6"/>
          </svg>          
      </div>
      <div style="margin-left: 10px;">
        <svg width="206" height="52" viewBox="0 0 206 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="206" height="52" rx="5" fill="#01ACED"/>
          <path d="M51.6208 32.126C50.7928 32.126 50.0488 31.982 49.3888 31.694C48.7408 31.394 48.2308 30.986 47.8588 30.47C47.4868 29.942 47.2948 29.336 47.2828 28.652H49.0288C49.0888 29.24 49.3288 29.738 49.7488 30.146C50.1808 30.542 50.8048 30.74 51.6208 30.74C52.4008 30.74 53.0128 30.548 53.4568 30.164C53.9128 29.768 54.1408 29.264 54.1408 28.652C54.1408 28.172 54.0088 27.782 53.7448 27.482C53.4808 27.182 53.1508 26.954 52.7548 26.798C52.3588 26.642 51.8248 26.474 51.1528 26.294C50.3248 26.078 49.6588 25.862 49.1548 25.646C48.6628 25.43 48.2368 25.094 47.8768 24.638C47.5288 24.17 47.3548 23.546 47.3548 22.766C47.3548 22.082 47.5288 21.476 47.8768 20.948C48.2248 20.42 48.7108 20.012 49.3348 19.724C49.9708 19.436 50.6968 19.292 51.5128 19.292C52.6888 19.292 53.6488 19.586 54.3928 20.174C55.1488 20.762 55.5748 21.542 55.6708 22.514H53.8708C53.8108 22.034 53.5588 21.614 53.1148 21.254C52.6708 20.882 52.0828 20.696 51.3508 20.696C50.6668 20.696 50.1088 20.876 49.6768 21.236C49.2448 21.584 49.0288 22.076 49.0288 22.712C49.0288 23.168 49.1548 23.54 49.4068 23.828C49.6708 24.116 49.9888 24.338 50.3608 24.494C50.7448 24.638 51.2788 24.806 51.9628 24.998C52.7908 25.226 53.4568 25.454 53.9608 25.682C54.4648 25.898 54.8968 26.24 55.2568 26.708C55.6168 27.164 55.7968 27.788 55.7968 28.58C55.7968 29.192 55.6348 29.768 55.3108 30.308C54.9868 30.848 54.5068 31.286 53.8708 31.622C53.2348 31.958 52.4848 32.126 51.6208 32.126ZM63.1033 21.956C63.8473 21.956 64.5193 22.118 65.1193 22.442C65.7193 22.754 66.1873 23.228 66.5233 23.864C66.8713 24.5 67.0453 25.274 67.0453 26.186V32H65.4253V26.42C65.4253 25.436 65.1793 24.686 64.6873 24.17C64.1953 23.642 63.5233 23.378 62.6713 23.378C61.8073 23.378 61.1173 23.648 60.6013 24.188C60.0973 24.728 59.8453 25.514 59.8453 26.546V32H58.2073V18.68H59.8453V23.54C60.1693 23.036 60.6133 22.646 61.1773 22.37C61.7533 22.094 62.3953 21.956 63.1033 21.956ZM69.109 27.032C69.109 26.024 69.313 25.142 69.721 24.386C70.129 23.618 70.687 23.024 71.395 22.604C72.115 22.184 72.913 21.974 73.789 21.974C74.653 21.974 75.403 22.16 76.039 22.532C76.675 22.904 77.149 23.372 77.461 23.936V22.136H79.117V32H77.461V30.164C77.137 30.74 76.651 31.22 76.003 31.604C75.367 31.976 74.623 32.162 73.771 32.162C72.895 32.162 72.103 31.946 71.395 31.514C70.687 31.082 70.129 30.476 69.721 29.696C69.313 28.916 69.109 28.028 69.109 27.032ZM77.461 27.05C77.461 26.306 77.311 25.658 77.011 25.106C76.711 24.554 76.303 24.134 75.787 23.846C75.283 23.546 74.725 23.396 74.113 23.396C73.501 23.396 72.943 23.54 72.439 23.828C71.935 24.116 71.533 24.536 71.233 25.088C70.933 25.64 70.783 26.288 70.783 27.032C70.783 27.788 70.933 28.448 71.233 29.012C71.533 29.564 71.935 29.99 72.439 30.29C72.943 30.578 73.501 30.722 74.113 30.722C74.725 30.722 75.283 30.578 75.787 30.29C76.303 29.99 76.711 29.564 77.011 29.012C77.311 28.448 77.461 27.794 77.461 27.05ZM83.523 23.738C83.811 23.174 84.219 22.736 84.747 22.424C85.287 22.112 85.941 21.956 86.709 21.956V23.648H86.277C84.441 23.648 83.523 24.644 83.523 26.636V32H81.885V22.136H83.523V23.738ZM97.5999 26.69C97.5999 27.002 97.5819 27.332 97.5459 27.68H89.6619C89.7219 28.652 90.0519 29.414 90.6519 29.966C91.2639 30.506 92.0019 30.776 92.8659 30.776C93.5739 30.776 94.1619 30.614 94.6299 30.29C95.1099 29.954 95.4459 29.51 95.6379 28.958H97.4019C97.1379 29.906 96.6099 30.68 95.8179 31.28C95.0259 31.868 94.0419 32.162 92.8659 32.162C91.9299 32.162 91.0899 31.952 90.3459 31.532C89.6139 31.112 89.0379 30.518 88.6179 29.75C88.1979 28.97 87.9879 28.07 87.9879 27.05C87.9879 26.03 88.1919 25.136 88.5999 24.368C89.0079 23.6 89.5779 23.012 90.3099 22.604C91.0539 22.184 91.9059 21.974 92.8659 21.974C93.8019 21.974 94.6299 22.178 95.3499 22.586C96.0699 22.994 96.6219 23.558 97.0059 24.278C97.4019 24.986 97.5999 25.79 97.5999 26.69ZM95.9079 26.348C95.9079 25.724 95.7699 25.19 95.4939 24.746C95.2179 24.29 94.8399 23.948 94.3599 23.72C93.8919 23.48 93.3699 23.36 92.7939 23.36C91.9659 23.36 91.2579 23.624 90.6699 24.152C90.0939 24.68 89.7639 25.412 89.6799 26.348H95.9079ZM108.863 32.162C107.939 32.162 107.099 31.952 106.343 31.532C105.599 31.112 105.011 30.518 104.579 29.75C104.159 28.97 103.949 28.07 103.949 27.05C103.949 26.042 104.165 25.154 104.597 24.386C105.041 23.606 105.641 23.012 106.397 22.604C107.153 22.184 107.999 21.974 108.935 21.974C109.871 21.974 110.717 22.184 111.473 22.604C112.229 23.012 112.823 23.6 113.255 24.368C113.699 25.136 113.921 26.03 113.921 27.05C113.921 28.07 113.693 28.97 113.237 29.75C112.793 30.518 112.187 31.112 111.419 31.532C110.651 31.952 109.799 32.162 108.863 32.162ZM108.863 30.722C109.451 30.722 110.003 30.584 110.519 30.308C111.035 30.032 111.449 29.618 111.761 29.066C112.085 28.514 112.247 27.842 112.247 27.05C112.247 26.258 112.091 25.586 111.779 25.034C111.467 24.482 111.059 24.074 110.555 23.81C110.051 23.534 109.505 23.396 108.917 23.396C108.317 23.396 107.765 23.534 107.261 23.81C106.769 24.074 106.373 24.482 106.073 25.034C105.773 25.586 105.623 26.258 105.623 27.05C105.623 27.854 105.767 28.532 106.055 29.084C106.355 29.636 106.751 30.05 107.243 30.326C107.735 30.59 108.275 30.722 108.863 30.722ZM120.88 21.956C122.08 21.956 123.052 22.322 123.796 23.054C124.54 23.774 124.912 24.818 124.912 26.186V32H123.292V26.42C123.292 25.436 123.046 24.686 122.554 24.17C122.062 23.642 121.39 23.378 120.538 23.378C119.674 23.378 118.984 23.648 118.468 24.188C117.964 24.728 117.712 25.514 117.712 26.546V32H116.074V22.136H117.712V23.54C118.036 23.036 118.474 22.646 119.026 22.37C119.59 22.094 120.208 21.956 120.88 21.956ZM134.385 23.486V29.3C134.385 29.78 134.487 30.122 134.691 30.326C134.895 30.518 135.249 30.614 135.753 30.614H136.959V32H135.483C134.571 32 133.887 31.79 133.431 31.37C132.975 30.95 132.747 30.26 132.747 29.3V23.486H131.469V22.136H132.747V19.652H134.385V22.136H136.959V23.486H134.385ZM152.084 22.136L149.006 32H147.314L144.938 24.17L142.562 32H140.87L137.774 22.136H139.448L141.716 30.416L144.164 22.136H145.838L148.232 30.434L150.464 22.136H152.084ZM154.555 20.534C154.243 20.534 153.979 20.426 153.763 20.21C153.547 19.994 153.439 19.73 153.439 19.418C153.439 19.106 153.547 18.842 153.763 18.626C153.979 18.41 154.243 18.302 154.555 18.302C154.855 18.302 155.107 18.41 155.311 18.626C155.527 18.842 155.635 19.106 155.635 19.418C155.635 19.73 155.527 19.994 155.311 20.21C155.107 20.426 154.855 20.534 154.555 20.534ZM155.347 22.136V32H153.709V22.136H155.347ZM160.137 23.486V29.3C160.137 29.78 160.239 30.122 160.443 30.326C160.647 30.518 161.001 30.614 161.505 30.614H162.711V32H161.235C160.323 32 159.639 31.79 159.183 31.37C158.727 30.95 158.499 30.26 158.499 29.3V23.486H157.221V22.136H158.499V19.652H160.137V22.136H162.711V23.486H160.137ZM166.694 23.486V29.3C166.694 29.78 166.796 30.122 167 30.326C167.204 30.518 167.558 30.614 168.062 30.614H169.268V32H167.792C166.88 32 166.196 31.79 165.74 31.37C165.284 30.95 165.056 30.26 165.056 29.3V23.486H163.778V22.136H165.056V19.652H166.694V22.136H169.268V23.486H166.694ZM180.252 26.69C180.252 27.002 180.234 27.332 180.198 27.68H172.314C172.374 28.652 172.704 29.414 173.304 29.966C173.916 30.506 174.654 30.776 175.518 30.776C176.226 30.776 176.814 30.614 177.282 30.29C177.762 29.954 178.098 29.51 178.29 28.958H180.054C179.79 29.906 179.262 30.68 178.47 31.28C177.678 31.868 176.694 32.162 175.518 32.162C174.582 32.162 173.742 31.952 172.998 31.532C172.266 31.112 171.69 30.518 171.27 29.75C170.85 28.97 170.64 28.07 170.64 27.05C170.64 26.03 170.844 25.136 171.252 24.368C171.66 23.6 172.23 23.012 172.962 22.604C173.706 22.184 174.558 21.974 175.518 21.974C176.454 21.974 177.282 22.178 178.002 22.586C178.722 22.994 179.274 23.558 179.658 24.278C180.054 24.986 180.252 25.79 180.252 26.69ZM178.56 26.348C178.56 25.724 178.422 25.19 178.146 24.746C177.87 24.29 177.492 23.948 177.012 23.72C176.544 23.48 176.022 23.36 175.446 23.36C174.618 23.36 173.91 23.624 173.322 24.152C172.746 24.68 172.416 25.412 172.332 26.348H178.56ZM184.052 23.738C184.34 23.174 184.748 22.736 185.276 22.424C185.816 22.112 186.47 21.956 187.238 21.956V23.648H186.806C184.97 23.648 184.052 24.644 184.052 26.636V32H182.414V22.136H184.052V23.738Z" fill="white"/>
          <path d="M33.5 21.4219C32.9373 21.6664 32.342 21.8274 31.7328 21.9C32.373 21.5251 32.8545 20.9296 33.0869 20.225C32.4816 20.5789 31.8205 20.8273 31.1319 20.9594C30.8419 20.6555 30.4932 20.4137 30.1069 20.2488C29.7205 20.0839 29.3047 19.9992 28.8847 20C27.1841 20 25.8078 21.3563 25.8078 23.0281C25.8066 23.2607 25.8333 23.4925 25.8872 23.7188C24.6677 23.6616 23.4736 23.3505 22.3812 22.8054C21.2889 22.2603 20.3223 21.4932 19.5434 20.5531C19.2702 21.0138 19.1257 21.5394 19.125 22.075C19.125 23.125 19.6728 24.0531 20.5 24.5969C20.0099 24.5852 19.5299 24.4555 19.1006 24.2188V24.2563C19.1006 25.725 20.1631 26.9469 21.5694 27.225C21.3049 27.2955 21.0324 27.3312 20.7587 27.3313C20.5646 27.3316 20.3708 27.3128 20.1803 27.275C20.5712 28.4781 21.7091 29.3531 23.0569 29.3781C21.9617 30.2222 20.6171 30.6784 19.2344 30.675C18.9889 30.6746 18.7437 30.66 18.5 30.6313C19.9066 31.5294 21.5417 32.0045 23.2106 32C28.8781 32 31.9744 27.3844 31.9744 23.3813C31.9744 23.25 31.9709 23.1188 31.9647 22.9906C32.5657 22.5631 33.0856 22.0319 33.5 21.4219Z" fill="white"/>
          </svg>          
      </div>
      <div style="margin-left: 10px;">
        <svg width="55" height="52" viewBox="0 0 55 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="55" height="52" rx="5" fill="#3F3F3F"/>
          <path d="M32.8537 20.6138H21.8756C21.3905 20.6143 20.9254 20.8072 20.5824 21.1502C20.2394 21.4933 20.0464 21.9583 20.0459 22.4435V30.2849C20.0464 30.77 20.2394 31.2351 20.5824 31.5781C20.9254 31.9212 21.3905 32.1141 21.8756 32.1146H32.8537C33.3388 32.1141 33.8039 31.9212 34.1469 31.5781C34.4899 31.2351 34.6828 30.77 34.6833 30.2849V22.4435C34.6828 21.9583 34.4899 21.4933 34.1469 21.1502C33.8039 20.8072 33.3388 20.6143 32.8537 20.6138ZM32.3904 23.6403L27.6855 27.2996C27.5937 27.3709 27.4808 27.4097 27.3646 27.4097C27.2484 27.4097 27.1355 27.3709 27.0438 27.2996L22.3389 23.6403C22.2836 23.5985 22.2372 23.5462 22.2023 23.4864C22.1674 23.4265 22.1448 23.3603 22.1357 23.2917C22.1266 23.223 22.1312 23.1532 22.1494 23.0863C22.1675 23.0195 22.1987 22.9569 22.2412 22.9022C22.2837 22.8475 22.3367 22.8018 22.397 22.7678C22.4574 22.7338 22.5239 22.712 22.5926 22.7039C22.6614 22.6958 22.7312 22.7014 22.7978 22.7205C22.8644 22.7396 22.9265 22.7717 22.9806 22.8149L27.3646 26.2247L31.7487 22.8149C31.8583 22.7322 31.9961 22.6958 32.1323 22.7139C32.2685 22.7319 32.3921 22.8028 32.4764 22.9112C32.5607 23.0197 32.599 23.157 32.5829 23.2934C32.5668 23.4298 32.4976 23.5544 32.3904 23.6403Z" fill="white"/>
          </svg>          
      </div>
    </div><br /> <br />
    <div style="text-align: center; justify-content: center;font-family: Poppins; color: #333;">
      Copy and paste to share!
    </div><br /><br />
    <div style="text-align: center; width: 300px; margin : 0 auto; justify-content: center;">
      <div onclick="Hello()" class="popup-input" style="font-size: 12px;"  id="myInput" >
         <a>
          <p style="font-size: 12px;"><a href="https://keepperr.herokuapp.com/auth/dashboard/<%= refer %>">https://keepperr.herokuapp.com/auth/dashboard/<%= refer %></a></p>
         </a> 
        </div>
    </div><br /><br />
    <div style="text-align: center; justify-content: center;font-family: Poppins; color: #333;">
      A link will be sent to you if you qualify for the airdrop.
    </div><br /><br />
  </div>
  <div id="overlay"></div>


  <!-- /contact1 -->
  
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="script.js"></script>
 
<script>  

function Hello() {
  var copyText = document.getElementById('myInput')
  copyText.select();
  document.execCommand('copy')
  alert('Copied Text');
}


     function sendmail(){
    
			var name = $('#Name').val();
			var email = $('#Sender').val();

			// var body = $('#body').val();

			var Body='Name: '+name+'<br>Email: '+email;
			//console.log(name, phone, email, message);

			Email.send({
        SecureToken:"fbf31702-bb7f-4a4e-9c1c-4ccf17ee777f",
				To: 'waitlist@keeperr.io',
				From: 'waitlist@keeperr.io',
				Subject: name+ "Hass been added to your waitlist",
				Body: Body
			}).then(
				message =>{
					//console.log (message);
					if(message=='OK'){
					alert('You have been added to the waitlist')
					}
					else{
						console.error (message);
						alert('There is error at sending message. ')
						
					}

				}
			);



		}

        const openModalButtons = document.querySelectorAll('[data-modal-target]')
const closeModalButtons = document.querySelectorAll('[data-close-button]')
const overlay = document.getElementById('overlay')

openModalButtons.forEach(button => {
  button.addEventListener('click', () => {
    const modal = document.querySelector(button.dataset.modalTarget)
    openModal(modal)
  })
})

overlay.addEventListener('click', () => {
  const modals = document.querySelectorAll('.modal.active')
  modals.forEach(modal => {
    closeModal(modal)
  })
})

closeModalButtons.forEach(button => {
  button.addEventListener('click', () => {
    const modal = button.closest('.modal')
    closeModal(modal)
  })
})

function openModal(modal) {
  if (modal == null) return
  modal.classList.add('active')
  overlay.classList.add('active')
}

function closeModal(modal) {
  if (modal == null) return
  modal.classList.remove('active')
  overlay.classList.remove('active')
}


    </script>
 </script>