
 <!-- <div class="carousel">
   <button class="carousel__button previous" id="previous"><</button>
   <div class="carousel__images">
     <img  class="active"  src="Group 119.png" alt="">
     <img src="Group 119.png" alt="">
     <img src="Group 119.png" alt="">
     <img src="Group 119.png" alt="">
     <img src="Group 119.png" alt="">
     <img src="Group 119.png" alt="">
   
   </div>
   <button class="carousel__button next" id="next">></button>
 </div> -->
     <!-- <button class="carousel__button previous" id="previous"><</button> -->
     <!-- <div class="main-carousel">
       <div class="cell"><img src="Group 119.png" /></div>
       <div class="cell"><img src="Group 119.png" /></div>
       <div class="cell active"><img src="Group 119.png" /></div>
       <div class="cell"><img src="Group 119.png" /></div>
       <div class="cell"><img src="Group 119.png" /></div>
     </div><br /> -->
 
 
   <!-- contact1 -->


   <!-- /contact1 -->
   
 <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

  </script>
 




  <body class="page-ath theme-modern page-ath-modern page-ath-alt bg-secondary">

    <div class="page-ath-wrap">
        <div class="page-ath-content">
            <div class="page-ath-header"><a href="" class="page-ath-logo">
                <img class="page-ath-logo-img" src="/assets/logo.png" alt="Dexfiat"></a></div>
            
  <div class="page-ath-form">
    <%- include ("./messages") %>
    <h2 class="page-ath-heading">Carenext <small>Carenext is an online care service for home cleaning assistant and support. </small> <small>Join Carenext Waitlist</small></h2>
    <form class="register-form" method="POST" action="/auth/register" id="register">
        <input type="hidden" name="_token" value="nmbPRTgB8fkSfkicA6eoLXCIXuZUqz3GZ62dnufq">                       
         <div class="input-item">
            <input type="name" placeholder="Your Name" class="input-bordered" name="name"   value="<%= typeof name != 'undefined' ? name : '' %>" minlength="3" data-msg-required="Required." data-msg-minlength="At least 3 chars." required>
        </div>
        <div class="input-item">
            <input type="email" placeholder="Your Email" class="input-bordered" name="email"   value="<%= typeof email != 'undefined' ? email : '' %>"  data-msg-required="Required." data-msg-email="Enter valid email." required>
        </div>

                
                                <div class="input-item text-left">
                <input name="terms" class="input-checkbox input-checkbox-md" id="agree" type="checkbox" required="required" data-msg-required="You should accept our terms and policy.">
                <label for="agree">I agree to the <a target="_blank" href="terms-and-condition">Terms and Condition</a> and <a target="_blank" href="privacy-policy">Privacy and Policy</a>.</label>
            </div>
                                    <button type="submit" class="btn btn-primary btn-block">Join Waitlist</button>
    </form>
  
            
        <div class="gaps-4x"></div>
       
    </div>
  
            <div class="page-ath-footer">
                                    <ul class="socials mb-3"><li><a href="https://facebook.com/carenext"><em class="fab fa-facebook-f"></em></a></li><li><a href="https://twitter.com/carenext"><em class="fab fa-twitter"></em></a></li><li><a href="https://github.com/Carenext"><em class="fab fa-github-alt"></em></a></li><li><a href="https://carenext.de"><em class="fab fa-medium-m"></em></a></li><li><a href="https://t.me/carenext"><em class="fab fa-telegram-plane"></em></a></li></ul>
                    <ul class="footer-links guttar-20px align-items-center"><li><a href="/privacy-policy">Privacy and Policy</a></li><li><a href="/terms-and-condition">Terms and Condition</a></li></ul>
                    <div class="copyright-text">&copy; 2021 Carenext. All Right Reserved.</div>
                            </div>
        </div>
            </div>
  
    <script>
        var base_url = "https://token.clinicbank.io",
        csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        layouts_style = "modern";
    </script>
    <script src="assets/js/jquery.bundle.js"></script>
    <script src="assets/js/script.js"></script>
    <script type="text/javascript">
        jQuery(function(){
            var $frv = jQuery('.validate');
            if($frv.length > 0){ $frv.validate({ errorClass: "input-bordered-error error" }); }
        });
    </script>
    
    </body>
